<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="header :: padrao"></div>
	<title>Painel De Controle</title>
</head>
<body>
<div class="container-sm">
	<h2 th:text="${eleicao.nome}">Eleição</h2>
	<div class="container">
			<!-- <form class="form-inline" method="POST" th:object="${aluno}" th:action="@{/alunos}" style="margin:
20px 0">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
					<input type="text" class="form-control" placeholder="Nota 1" th:field="*{nota1}"/>
					<input type="text" class="form-control" placeholder="Nota 2" th:field="*{nota2}"/>
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form> -->
		<div class="row" th:each="pessoa : ${pessoas}">
			<div class="col"><span th:text="${pessoa.documento}"></span></div>
			<div class="col"><span th:text="${pessoa.nome}"></span></div>
			<div class="col"><span th:text="${pessoa.email}"></span></div>
			<div class="col" th:if="${pessoa.apto}">
				<span style="font-size: 20pt; color: darkblue">✓</span>
				<a th:href="@{/apto/{id}(id=${pessoa.id})}"><button class="btn btn-danger">desabilitar</button></a>
			</div>
			<div class="col" th:if="!${pessoa.apto}">	
				<span style="font-size: 20pt; color: red">✗</span>
				<a th:href="@{/apto/{id}(id=${pessoa.id})}"><button class="btn btn-success">habilitar</button></a>
			</div>
			<div class="col">Situação e-mail</div>
			<div class="col"><button class="btn btn-info">reenviar</button></div>
		</div>
			<!-- <form class="form-check" action="#" method="POST" th:object="${sufragio}" th:action="@{/votando}" style="margin: 20px 0">
				<div class="container">
					<div class="form-group">
						<h4>Escolha um candidato</h4>
					</div>
					<div class="form-group form-control-lg" th:each="candidato : ${eleicao.candidatos}">
						<input type="checkbox" th:field="*{candidatosId}" th:value="${candidato.id}" th:id="${candidato.id}" style="transform: scale(1.5)" unchecked/>
						&nbsp<label th:for="${candidato.id}" th:text="${candidato.nome}">-</label>
					</div>
				</div>
				<div class="form-group">
	    			<button class="btn btn-primary" type="submit">Enviar</button>
	    			<a href="/sair"><button class="btn btn-danger" type="button">Sair</button></a>
	  			</div>
  			</form> -->
	</div>
	<a href="/sair"><button class="btn btn-danger" type="button">Sair</button></a>
<div th:replace="footer :: scripts"></div>
</div>
</body>
</html>