<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="header :: padrao"></div>
	<title>Votação</title>
	<script type="text/javascript">
	function reset(ini) {
		for (i = ini; i <= 23; i++) {
			var el = document.getElementById(i);
			el.checked = false;
		}
	}
	function contagem1() {
		var count = 0;
		for (i = 1; i <= 2; i++) {
			var el = document.getElementById(i);
			if (el.checked) {
				count++;
			}
		}
		return count;
	}	
	function contagem2() {
		var count = 0;
		for (i = 3; i <= 23; i++) {
			var el = document.getElementById(i);
			if (el.checked) {
				count++;
			}
		}
		return count;
	}
	function validate(id) {
		if (id == 1) {
			document.getElementById(2).checked = false;
		}
		if (id == 2) {
			document.getElementById(1).checked = false;
		}
		if (contagem2() > 12) {
			reset(3);
		}
		var bt = document.getElementById("bvote");
		bt.disabled = true;
		if (contagem2() >= 6 && contagem2() <= 12 && contagem1() == 1) {
			bt.disabled = false;
		}
	}
	window.addEventListener('load', function () {
		  reset(1);
	});
	</script>
</head>
<body>
<div class="container-sm">
	<div class="card" style="margin: 10px">
		<div class="card-header">
			<h2 th:text="${eleicao.nome}">Eleição</h2>
		</div>
		<div class="card-body">
			<!-- <form class="form-inline" method="POST" th:object="${aluno}" th:action="@{/alunos}" style="margin:
20px 0">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
					<input type="text" class="form-control" placeholder="Nota 1" th:field="*{nota1}"/>
					<input type="text" class="form-control" placeholder="Nota 2" th:field="*{nota2}"/>
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form> -->
			<form class="form-check" action="#" method="POST" th:object="${sufragio}" th:action="@{/votando}" style="margin: 20px 0">
				<!-- <input type="hidden" th:field="*{eleicaoId}" th:value="${eleicao.id}"/> -->
				<div class="container">
					<div class="form-group">
						<h4>Escolha uma chapa para presidente / vice-presidente:</h4>
					</div>
					<div class="form-group form-control-lg" th:each="candidato : ${eleicao.candidatosPorCargo(1)}">
						<input type="checkbox" th:field="*{candidatosId}" th:value="${candidato.id}" th:id="${candidato.id}" 
						th:data1="${candidato.id}" onclick="validate(this.getAttribute('data1'));" style="transform: scale(1.5)" unchecked/>
						&nbsp<label th:for="${candidato.id}" th:text="${candidato.nome}" style="color: darkslategrey">-</label>
					</div>
				</div>
				<div>&nbsp;</div>
				<hr/>
				<div class="container">
					<div class="form-group">
						<h4>Escolha de 6 até 12 diretores:</h4>
					</div>
					<div class="form-group form-control-lg" th:each="candidato : ${eleicao.candidatosPorCargo(2)}">
						<input type="checkbox" th:field="*{candidatosId}" th:value="${candidato.id}" th:id="${candidato.id}" 
						th:data1="${candidato.id}" onclick="validate(this.getAttribute('data1'));" style="transform: scale(1.5)" unchecked/>
						&nbsp<label th:for="${candidato.id}" th:text="${candidato.nome}" style="color: darkslategrey">-</label>
					</div>
				</div>
				<div class="form-group">
	    			<button id="bvote" class="btn btn-primary" type="submit" disabled>Enviar</button>
	    			<a href="/sair"><button class="btn btn-danger" type="button">Sair</button></a>
	  			</div>
  			</form>
		</div>
	</div>
</div>
<div th:replace="footer :: scripts"></div>
</body>
</html>