<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="header :: padrao"></div>
	<title>Votação</title>
</head>
<body>
<div class="container-sm">
	<div class="card" style="margin: 10px">
		<div class="card-header">
			<h1>Vote</h1>
		</div>
		<div class="card-body">
			<!-- <form class="form-inline" method="POST" th:object="${aluno}" th:action="@{/alunos}" style="margin:
20px 0">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
					<input type="text" class="form-control" placeholder="Nota 1" th:field="*{nota1}"/>
					<input type="text" class="form-control" placeholder="Nota 2" th:field="*{nota2}"/>
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form> -->
			<h2 th:text="${eleicao.nome}">Eleição</h2>
			<form class="form-inline" action="#" method="POST" th:object="${sufragio}" th:action="@{/votando}" style="margin: 20px 0">
				<!-- <input type="hidden" th:field="*{eleicaoId}" th:value="${eleicao.id}"/> -->
				<table class="table">
					<thead>
						<tr>
							<th>Candidatos</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="candidato : ${eleicao.candidatos}">
						<!--<tr th:each="lon : ${candidatosId}">-->
							<td>
								<input type="checkbox" th:field="*{candidatosId}" th:value="${candidato.id}" id="${candidato.id}" unchecked/>
								 <!-- id="${candidato.id}" name="candidato" --> 
								<label for="${candidato.id}" th:text="${candidato.nome}" >-</label>
							</td>
						</tr> 
					</tbody>
				</table>
				<div>
	    			<button class="btn btn-primary" type="submit">Enviar</button>
	    			<a href="/sair"><button class="btn btn-danger" type="button">Sair</button></a>
	  			</div>
  			</form>
		</div>
	</div>
	</div>
	<div th:replace="footer :: scripts"></div>
</body>
</html>